@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="@Url.Content("~/css/navlinksx2.css?v=4")" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" type="text/css" href="carDetailsCss.css" />*@
    <style>
      /* .position{
          
          
           padding-right:40%;
           color:white !important;

        }
     botton{
         color:white !important;
     }*/
        a.text-dark1  {
            color: white !important;
            right: 40% !important;
        }
        li {
            border-right: 1px solid #bbb;
           
        }

            li:last-child {
               
            }
    </style>
</head>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark1" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class='fas fa-user-edit' style='font-size:15px'></i> @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" style="color:white;" class="btn text-dark1">Logout</button>
            </form>
        </li>
    }
</ul>
