@page
@model FreePark.Models.CarRegEntry
@{
    ViewData["Title"] = "Manage Car Reg";
    ViewData["ActivePage"] = ManageNavPages.CarReg;
}

<h4>@ViewData["Title"]</h4>
<div class="centerBlock">
    <div class="container">
        <div class="box">
            <div class="icon"><i class='fas fa-car-side'></i></div>
            <div class="content">
                <div class="row">
                    <form asp-controller="CarRegEntries" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-center">
                            <label asp-for="CarReg" class="control-label"></label>
                            <input asp-for="CarReg" class="form-control" maxlength="40" />
                            <span asp-validation-for="CarReg" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>                     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
