@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<head>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")">
    <link href="@Url.Content("~/css/manageLoginEmail.css")" rel="stylesheet" type="text/css" />
    
</head>
<div class="container">
    <div class="box">
        <div class="icon"><i class='fas fa-car-side'></i></div>
        <div class="content">
            <h4>Manage Email</h4>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
            <div class="row">
                <div class="col-md-6">
                    <form id="email-form" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            @if (Model.IsEmailConfirmed)
                            {
                                <div class="input-group">
                                    <input asp-for="Email" class="form-check-input9" />
                                    <div class="input-group-append"><span class="input-group-text text-success font-weight-bold">✓</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input asp-for="Email" class="form-check-input9" disabled />
                                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link btnbtn-primarybtn-md9">Send verification email</button>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.NewEmail"></label>
                            <input asp-for="Input.NewEmail" class="form-check-input9" />
                            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                        </div>
                        <button type="submit" asp-page-handler="ChangeEmail" class="btnbtn-primarybtn-md9">Change email</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
