@model IEnumerable<FreePark.Models.CarDetails>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="@Url.Content("~/css/carDetailsCss.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="carDetailsCss.css" />
    <style>
    </style>
</head>
<h4 class="pageTitle5">Car Details</h4>
<div class="container">

    <div class="box">
        <div class="icon"><i class='fas fa-car-side'></i></div>
        <div class="content">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>Label&nbsp&nbsp</th>
                    <th>Value</th>
                </tr>
                @foreach (Decode decode in ViewBag.decodeList)
                {
                    <tr>
                        <td>@decode.label</td>
                        <td>@decode.value</td>
                    </tr>
                }

            </table>

            <div class="rowPosButton">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            @*<input type="submit" value="Next" class="btnbtn-primarybtn-md6" />*@
                            <a class="btnbtn-primarybtn-md6" role="button" aria-disabled="true" asp-controller="ParkingSpaces" asp-action="Search">
                                Next
                            </a>
                        </div>
                        <div>
                            <a href="#" onClick="history.go(-1)" id="posBackButton"class="previous round">&#8249;</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>
</div>


