@model IEnumerable<FreePark.Models.CarDetails>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="@Url.Content("~/css/carDetailsCss.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="carDetailsCss.css" />
    <style>
        /* a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #f1f1f1;
            color: black;
        }

        .next {
            background-color: #04AA6D;
            color: white;
        }

        .round {
            border-radius: 50%;
        }*/
    </style>
</head>
<div class="container">

    <div class="box">
        <div class="icon"><i class='fas fa-car-side'></i></div>
        <div class="content">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>Label&nbsp&nbsp</th>
                    <th>Value</th>
                </tr>
                @foreach (Decode decode in ViewBag.decodeList)
                {
                    <tr>
                        <td>@decode.label</td>
                        <td>@decode.value</td>
                    </tr>
                }

            </table>

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            @*<input type="submit" value="Next" class="btnbtn-primarybtn-md6" />*@
                            <a class="btnbtn-primarybtn-md6" role="button" aria-disabled="true" asp-controller="ParkingSpaces" asp-action="Search">
                                Next
                            </a>
                        </div>
                        <div>
                            <a href="#" onClick="history.go(-1) " class="previous round">&#8249;</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>
</div>


