@{
    ViewData["Title"] = "Home Page";

}
<head>
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    @*<style>
            .navbar-brand {
                color: white !important;
            }

            .navbar {
                background: rgb(65,179,163);
                background: linear-gradient(90deg, rgba(65,179,163,1) 23%, rgba(189,231,210,1) 100%);
                /*   background-color: #41B3A3 !important;*/
            }

            .nav-link {
                color: #fff !important;
            }
        </style>*@

</head>

<div class="text-center">
    <h3 class="display-4">FindYSpace</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
    <div buttonBody>
        <div class="grid-container">

            <p>
                Pick your
            </p>

            <p>
                <button>Free Parking<br />Periods</button>&nbsp;&nbsp;<button>Garage Parking</button>
            </p>
            <p>
                <button>Paid Parking<br />Periods</button>&nbsp;&nbsp;<button>Private Spaces</button>
            </p>


        </div>
    </div>



</body>


