@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home Page";

}
<head>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")">
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/movingCar.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="movingCar.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        .navbar-brand {
            color: white !important;
        }

        .navbar {
            background-color: #009933 !important;
        }

        .nav-link {
            color: black !important;
        }

        .col-center {
            width: 100%;
            text-align: center;
        }
        
    </style>
</head>

<h4 class="pageTitle">Choose Login Option</h4>
<br/>
<body >
    <div class="imageCss">
        @*<img src="~/images/carParkImage.jpg" />;*@

        <div class="container">
            <div class="box">
                <div class="icon"><i class='fas fa-car-side'></i></div>
                <div class="content">


                    <a class="btnbtn-primarybtn-md1" role="button" aria-disabled="true" asp-area="Identity" asp-page="/Account/Login">
                        Login
                    </a>
                    <br /><br />
                    <a class="btnbtn-primarybtn-md1" role="button" aria-disabled="true" asp-area="Identity" asp-page="/Account/Register">
                        Register
                    </a>
                    <br /><br />
                    <a class="btnbtn-primarybtn-md1" role="button" aria-disabled="true" asp-controller="CarRegEntries" asp-action="Create">
                        Use without account
                    </a>

                </div>
            </div>

        </div>

    </div>     
    

</body>


