@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home Page";

}
<head>
    <link href="@Url.Content("~/css/common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    

    <style>
        .navbar-brand {
            color: white !important;
        }

        .navbar {
            background-color: #009933 !important;
        }

        .nav-link {
            color: black !important;
        }

        .background-image {
            
            z-index: -1;
            position: fixed;
            /*right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;*/
        }
            .pageTitle {
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        
        .col-center {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<h4 class="pageTitle">Choose Login Option</h4>
<br/>
<body>

    <div style="background-image: url('images/car.jpg');
        background-size:cover; height: 250px; padding-top: 80px;">


        <div class="container">

        </div>

        <div class="row">
            <div class="col-center">
                <a class="btn btn-primary btn-md" role="button" aria-disabled="true" asp-area="Identity" asp-page="/Account/Login">
                    Login
                </a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-center">
                <a class="btn btn-primary btn-md" role="button" aria-disabled="true" asp-area="Identity" asp-page="/Account/Register">
                    Register
                </a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-center">
                <a class="btn btn-primary btn-md" role="button" aria-disabled="true" asp-controller="CarRegEntries" asp-action="Create">
                    Use without account
                </a>
            </div>
        </div>
    </div>


</body>


