@model IEnumerable<FreePark.Models.ParkingSpace>

@{
    ViewData["Title"] = "Map View";
}
<style>
    #map {
        width: 100%;
        height: 500px;
    }
</style>
<h1>Map View</h1>

<div id="map"></div>
<div>
    <a class="btn btn-primary btn-md" role="button" aria-disabled="true" asp-controller="GarageParkings" asp-action="Index">
        Garage Parking
    </a>
    <a class="btn btn-primary btn-md" role="button" aria-disabled="true" asp-controller="ParkingSpaces" asp-action="Create">
        Parking Meters
    </a>
    <a class="btn btn-primary btn-md" role="button" aria-disabled="true" asp-controller="ParkingSpaces" asp-action="Create">
        Free Parking
    </a>
</div>
<script>
    var map = L.map('map').setView([53.34164, -6.28417], 12);// the lat and long of the map and the 13 is the amount the mao will be zoomed in.
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    $.ajax({
        url: '/ParkingSpaces/GetStreets',
        success: function (data) {
            console.log(data)
            $(data).each(function (index, item) {
                var lat = item.lat;
                var lng = item.lng;
                L.marker([lat, lng]).bindPopup(item.streetName).addTo(map);
            });
        },
    });

</script>
