 @model FreePark.Models.ParkInputPage

@{
    ViewData["Title"] = "Create";
}


<head>
    <link href="@Url.Content("~/css/searchParkingSpaces.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="searchParkingSpaces.css" />
    <style>
        .navbar-brand {
            color: white !important;
        }

        .navbar {
            background-color: #009933 !important;
        }

        .nav-link {
            color: black !important;
        }
        .form-check-input4{
            margin-top:0.3rem;
            margin-right:1.25rem;
        }

    </style>
</head>

<div class="centerBlock">
    <div class="container">
        <div class="box">
            <h4 class="pageTitle4">Search Details</h4>
            <br />
            <div class="icon"><i class='fas fa-car-side'></i></div>
            <div class="content">
                <div>
                    @*search is to ensure seach criteria is quered in the database*@
                    <form asp-action="Search">
                        <div class="form-group">
                            <label asp-for="LocationSelect" class="control-label"></label>
                            <select id="cities" name="LocationSelect">
                                <option value="Dublin">Dublin</option>
                                <option value="Cork">Cork</option>
                                <option value="Galway">Galway</option>
                            </select>
                        </div>
                        <label for="html">Enter Street Name</label><br>
                        <div class="form-group form-check">
                            @*<label class="form-check-label">*@
                            <input class="form-check-input4 " asp-for="StreetName" />
                            @*</label>*@
                        </div>

                        <p>or</p>

                        <label for="html">Enter Venue Name</label><br>
                        <div class="form-group form-check">
                            @*<label class="form-check-label">*@
                            <input class="form-check-input4" asp-for="Venue" />
                            @*</label>*@
                        </div>
                        @*<label for="html">Enter Start Time</label><br>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="StartTime" /> @Html.DisplayNameFor(model => model.StartTime)
                        </label>
                    </div>
                    <label for="html">Enter End Time</label><br>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EndTime" /> @Html.DisplayNameFor(model => model.EndTime)
                        </label>
                    </div>*@

                        <div class="col-center">
                            <input type="submit" value="Go to Map" class="btnbtn-primarybtn-md4" />
                        </div>
                        <br /><br /><br /><br />
                        <div class="pos-bottom">
                            <a href="#" onClick="history.go(-1) " class="previous round">&#8249;</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
