
@model FreePark.Models.CarRegEntry

@{
    ViewData["Title"] = "Create";
}
<head>
    <link href="@Url.Content("wwwroot/css/common")" rel="stylesheet" type="text/css" />
    <style>

        .pageTitle {
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        .pos-cent {
            position: absolute;
            right: 38%;
        }
        .col-center {
            width: 100%;
            text-align: center;
        }
        form {
            position: absolute;
            right: 43.5%;
        }
        .cent-ahref {
            position: absolute;
            right: 49%;
        }
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #f1f1f1;
            color: black;
        }

        .next {
            background-color: #04AA6D;
            color: white;
        }

        .round {
            border-radius: 50%;
        }

    </style>
</head>
<h4 class="pageTitle">Enter Car Registration</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Next">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-center">
                @*<label asp-for="CarReg" class="control-label"></label>*@
                <input asp-for="CarReg" class="form-control" maxlength="40"/>
                <span asp-validation-for="CarReg" class="text-danger"></span>
            </div>
            
            <br/>
        <div class="pos-cent">
            <a class="btn btn-primary btn-md" role="button" aria-disabled="true" asp-controller="CarDetails" asp-action="Index">
                Next
            </a>
        </div>
        </form>
    </div> 
</div>
<br/><br/><br/><br/><br />
    <div class="cent-ahref">
         <a href="#" onClick="history.go(-1) " class="previous round">&#8249;</a>
    </div>
@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
